---
version: '2'
services:
  {% filter escape %}{{ project_name }}{% endfilter %}:
    env_file: ../.env.development
    build:
      context: ../
    ports:
      - 3000:3000
    volumes:
      - ../:/app
