---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}-web
  namespace: default
  labels:
    app: {% raw %}{{ project_name }}{% endraw %}
    component: web
    layer: application
    app.kubernetes.io/version: production
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: {% raw %}{{ project_name }}{% endraw %}
      component: web
      layer: application
  template:
    metadata:
      labels:
        app: {% raw %}{{ project_name }}{% endraw %}
        component: web
        layer: application
        app.kubernetes.io/version: production
      name: {% raw %}{{ project_name }}{% endraw %}-web
    spec:
      containers:
        - name: {% raw %}{{ project_name }}{% endraw %}-web
          env:
            - name: PORT
              value: "8080"
            - name: PUMA_WORKERS
              value: "1"
            - name: PUMA_THREAD_MIN
              value: "5"
            - name: PUMA_THREAD_MAX
              value: "5"
            - name: RAILS_SERVE_STATIC_FILES
              value: 'true'
            - name: RAILS_LOG_TO_STDOUT
              value: 'true'
            - name: PUMA_BIND
              value: 'tcp://0.0.0.0:8080'
            - name: MALLOC_ARENA_MAX
              value: "2"
            - name: DATADOG_TRACE_AGENT_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: DD_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
          envFrom:
            - configMapRef:
                name: {% raw %}{{ project_name }}{% endraw %}-environment
          image: {% raw %}{{ project_repo }}{% endraw %}:production
          imagePullPolicy: Always
          ports:
            # k8s limits a port name to 15 characters
            - name: {% raw %}{{ project_name }}{% endraw %}-http
              containerPort: 8080
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              memory: 1Gi
          readinessProbe:
            httpGet:
              port: {% raw %}{{ project_name }}{% endraw %}-http
              path: /health/ping
              httpHeaders:
                - name: X-Forwarded-Proto
                  value: https
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 5"]
      dnsPolicy: ClusterFirst
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      tolerations: # if ok to run on Spot instances
      - key: reserved
        operator: Equal
        value: spot
        effect: NoSchedule
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: tier
                operator: In
                values:
                - foreground
                - foreground-spot # if ok to run on Spot instances
          preferredDuringSchedulingIgnoredDuringExecution: # if ok to run on Spot instances
          - weight: 100
            preference:
              matchExpressions:
              - key: tier
                operator: In
                values:
                - foreground-spot

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}-web
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {% raw %}{{ project_name }}{% endraw %}-web
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}-sidekiq
  namespace: default
  labels:
    app: {% raw %}{{ project_name }}{% endraw %}
    component: sidekiq
    layer: application
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: {% raw %}{{ project_name }}{% endraw %}
      component: sidekiq
      layer: application
  template:
    metadata:
      labels:
        app: {% raw %}{{ project_name }}{% endraw %}
        component: sidekiq
        layer: application
      name: {% raw %}{{ project_name }}{% endraw %}-sidekiq
    spec:
      containers:
        - name: {% raw %}{{ project_name }}{% endraw %}-sidekiq
          env:
            - name: RAILS_LOG_TO_STDOUT
              value: 'true'
            - name: MALLOC_ARENA_MAX
              value: "2"
            - name: DATADOG_TRACE_AGENT_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          envFrom:
            - configMapRef:
                name: {% raw %}{{ project_name }}{% endraw %}-environment
          image: {% raw %}{{ project_repo }}{% endraw %}:production
          imagePullPolicy: Always
          args: ["bundle", "exec", "sidekiq"]
          livenessProbe:
            exec:
              command:
                - pgrep
                - -f
                - sidekiq
            initialDelaySeconds: 30
            periodSeconds: 30
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 512Mi
      dnsPolicy: ClusterFirst
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      tolerations: # if ok to run on Spot instances
      - key: reserved
        operator: Equal
        value: spot
        effect: NoSchedule
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: tier
                operator: In
                values:
                - background
                - background-spot # if ok to run on Spot instances
          preferredDuringSchedulingIgnoredDuringExecution: # if ok to run on Spot instances
          - weight: 100
            preference:
              matchExpressions:
              - key: tier
                operator: In
                values:
                - background-spot

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}-sidekiq
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {% raw %}{{ project_name }}{% endraw %}-sidekiq
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {% raw %}{{ project_name }}{% endraw %}
    component: web
    layer: application
  name: {% raw %}{{ project_name }}{% endraw %}-web-internal
  namespace: default
spec:
  ports:
    - port: 8080
      protocol: TCP
      name: http
      targetPort: {% raw %}{{ project_name }}{% endraw %}-http
  selector:
    app: {% raw %}{{ project_name }}{% endraw %}
    layer: application
    component: web
  type: ClusterIP

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: "{% raw %}{{ externalIngressAllowSourceIP|join(',') }}{% endraw %}"
spec:
  ingressClassName: nginx
  rules:
    - host: {% raw %}{{ project_name }}{% endraw %}.artsy.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              serviceName: {% raw %}{{ project_name }}{% endraw %}-web-internal
              servicePort: http

---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {% raw %}{{ project_name }}{% endraw %}-cron-example
spec:
  schedule: "11 11 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 0 # do not retry if pod fails.
      template:
        metadata:
          annotations:
            "cluster-autoscaler.kubernetes.io/safe-to-evict": "false"
        spec:
          containers:
            - name: {% raw %}{{ project_name }}{% endraw %}-cron-example
              image: {% raw %}{{ project_repo }}{% endraw %}:production
              imagePullPolicy: Always
              envFrom:
                - configMapRef:
                    name: {% raw %}{{ project_name }}{% endraw %}-environment
              args: ["echo", "i am just an example"]
          restartPolicy: Never
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: tier
                        operator: In
                        values:
                          - background
