---
version: '2'
services:
  {{ project_name }}:
    command: ./script/ci.sh
    environment:
    - RAILS_ENV=test
    - SPEC_FILES=$SPEC_FILES
    - CIRCLE_NODE_INDEX=$CIRCLE_NODE_INDEX
    - CIRCLE_TEST_REPORTS=$CIRCLE_TEST_REPORTS
    - RSPEC_RETRY=$RSPEC_RETRY
    - BUNDLE_GITHUB__COM=$BUNDLE_GITHUB__COM
    extends:
      file: build.yml
      service: {{ project_name }}

