---
version: '2'
services:
  {% filter escape %}{{ project_name }}{% endfilter %}:
    env_file: ../.env.development
    extends:
      file: build.yml
      service: {% filter escape %}{{ project_name }}{% endfilter %}
    ports:
      - 8080:8080
